
/* The answer selecteed by the user */
.selected {
    background-color: orange;
}
.color {
    height: 600px;
    background-color: rgb(76, 99, 201);
    font-family: Verdana;
    font-size: 18px;
}
.que-con{
    color: white;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* The list of options */
.options {
    padding: 8px;
    background-color: white;
    border: 3px solid #000;
    cursor: pointer;
    color: rgb(6, 94, 177);
}
.selected {
    background-color: yellow;
}
.correct {
    background-color: green;
}
.wrong {
    background-color: red;
}


ul {
    list-style-type: none;
}


.result{
    color: white;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 55px;
}

hr{
    background-color: black;
    width: 80%;
    margin-left: 10%;
}
h4{
    margin-top: 20px;
}
h1{
color: black;
}
.timer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(71, 223, 71);
}
.intro-header
{
    grid-template-columns: 1fr 7fr;
    display: grid;
}